body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: lightgray;
}

.container{
    background-color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 3.5px 3px 10px 5px gray;
}


img{
    max-width:400px;
    border-radius: 100%;
}

#info{
    max-width:400px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.buttons-container{
    gap: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

#animal-img{
    width: 350px;
    height: 350px;
}

.buttons-container button{
    height: 2rem;
    width: 5rem;
}

.random-button{
    padding: .8rem;

}